html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0 auto;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
  font-family: Arial, Verdana, sans-serif;
}

.content {

}

.main-content {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;

  font-weight: 700;

  font-size: 18px;
}

.logo {
  display: block;
  margin-bottom: 50px;
}

.links {
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  padding: 24px 49px 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.downoload-doc {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  padding-left: 30px;
  background-image: url(../img/download.png);
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.link ::marker {
  display: inline-block;
  padding: 24px 49px 24px 49px;
}

.link-item {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;

}

::marker {
  color: blue;
  font-size: 1.2em;
}

.link:first-child {
  margin-right: 25px;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

.paragraph {
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.paragraphs {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  background-color: #3f2aff;
  color: white;
}

.header {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

.subtitle {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

.title {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.black-block, .decor-1{
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
  background-position: right center;
  background-repeat: no-repeat;
}

.decor-1 {
  background-image: url(../img/decorate-1.png);
}

.black-blocks {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
  background-position: right center;
  background-repeat: no-repeat;
}

.decor-2 {
  background-image: url(../img/decorate-2.png);
}

.black-blocks .paragraph {
  width: 692px;
  margin-bottom: 10px;
}

.black-blocks:last-child,
.black-blocks .paragraph:last-child {
  margin-bottom: 0;
}


.black-block .paragraph {
  width: 692px;
  margin-bottom: 10px;
}

.items {
  margin: 0;
  padding-left: 15px;
}

.item {
  margin-bottom: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

.image {
  margin-bottom: 40px;
}

.pic {
  display: inline-block;
  margin-bottom: 40px;
  width: 872px;
}

figure {
  font-size: 0;
}

.figcaption {
  border: 1px solid #b6b6b6;
  border-top: 0;
  padding: 19px 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.container-modules {
  width: 1170px;
}

.menu-logo {
  margin-bottom: 25px;
}

.logo-vector {
  color: #333333;
}



.main-menu {
  font-family: 'Roboto';
  font-style: normal;
  color: #3F2AFF;
  background-image: url(../img/Arrow1.svg);
  background-position: left center;
  background-repeat: no-repeat;
}

.menu-item {
  margin-left: 50px;

}

.title-module {
  margin: 0;
  color: #3F2AFF;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 50px;
}

.content {
  display: inline-block;
}

.card:nth-child(2n) { margin-right: 0;} {
  display: inline-block;
  margin-right: 25px;
}

.table {
  width: 572px;
  height: 325px;
  margin-left: 0;
}

.background-img-1 {
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 25px;
}

.unit-header {
  font-weight: 700;
  font-size: 40px;
  color: #3F2AFF;
  border-bottom: 2px;
}

.number {
  height: 46px;
  width: 45px;
  left: 502px;
  top: 434px;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #EAEAEA;
}
